/* form */
.quiz-form {
    display: flex;
    flex-flow: column;
}
.form-group {
    margin-bottom: 10px;
  }

  .radio-inline {
    display: inline-block;
    margin-right: 10px;
  }

  .form-submit {
    float: right;
  }
