/* https://www.figma.com/file/2iGUTsVKIgji4thnf5nnyV/%40shadcn%2Fui---Design-System-(Community)-(Copy)?type=design&node-id=21%3A1151&mode=design&t=RSnfv6dGy3BihNL4-1 */

:root {
    --slate-400: #CBD5E1;
    --slate-500: #64748B;
    --slate-600: #475569;
    --slate-900: #0f172a;
}