@import url("../../styles/variables.css");

.num-lang-container {
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.num-lang-btn {
  border-radius: 6px;
  cursor: pointer;
  padding: 0.5rem;
  line-height: 1;
}
.num-lang-btn:hover {
  background-color: var(--slate-100);
}
.num-lang-btn--active {
  background-color: #f5f5f5;
  font-weight: 500;
}
