@import url("../styles/variables.css");
.app-footer {
    align-items: center;
    background: var(--slate-600);
    color: var(--md-white);
    display: flex;
    height: 96px;
    justify-content: flex-end;
    padding: 0px 2rem;
}
