@import url("../styles/variables.css");
.app-footer {
  align-items: center;
  background: var(--slate-600);
  color: var(--md-white);
  display: flex;
  height: 96px;
  justify-content: flex-end;
  padding: 0px 2rem;
}
.copyright {
  height: 24px;
  line-height: 24px;
  margin-right: 0.5rem;
}
.social-icons {
  height: 24px;
  width: 24px;
}
