@import url("../styles/variables.css");

/* form */
.quiz-form {
  display: flex;
  flex-flow: column;
  gap: 2rem;
  max-width: 420px;
  width: 100%;
}
.form-group {
  display: flex;
  flex-flow: column;
  gap: 8px;
  margin-bottom: 0.5rem;
}
.radio-group--inline {
  display: flex;
  gap: 1rem;
}
.label-text {
  color: var(--slate-900);
  font-size: 14px;
  font-weight: 500;
}
.field-error {
  color: var(--md-destructive);
}
.from-message-container {
  height: 41px;
}
