@import url("../../styles/variables.css");

.num-text-input-container {
    align-items: flex-start;
    color: var(--slate-900);
    display: flex;
    flex-direction: column;
    font-size: 14px;
    gap: 0.5em;
    justify-content: center;
}
.num-text-input-label {
    font-weight: 500;
}
.num-text-input {
    border-radius: 6px;
    border: 1px solid var(--slate-400);
    color: var(--slate-900);
    font-size: 14px;
    font-weight: 400;
    height: 26px;
    margin: 0;
    outline: none;
    padding: 0;
    padding: 4px 12px;
    text-decoration: none;
    width: 100%;
    input::placeholder {
        color: var(--slate-500);
    }
}